<a href="https://colab.research.google.com/github/Karla-Flores/Project-04/blob/main/Chicago_Crime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **Preprocessing**

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
url = 'https://chicago-crime-db.s3.amazonaws.com/chicago_crime_db.csv'
data = pd.read_csv(url)
data

            Primary Type                     Description  ...  Month  Hour
0                BATTERY         DOMESTIC BATTERY SIMPLE  ...      9     5
1                  THEFT                  POCKET-PICKING  ...      9     4
2              NARCOTICS           POSS: HEROIN(BRN/TAN)  ...      9     5
3                ASSAULT                          SIMPLE  ...      9     5
4               BURGLARY                  FORCIBLE ENTRY  ...      9     5
...                  ...                             ...  ...    ...   ...
6691913    OTHER OFFENSE  HARASSMENT BY ELECTRONIC MEANS  ...      9    20
6691914          ASSAULT                          SIMPLE  ...      9    20
6691915  CRIMINAL DAMAGE                     TO PROPERTY  ...      9    20
6691916            THEFT                    RETAIL THEFT  ...      9    20
6691917          ASSAULT                          SIMPLE  ...      9    20

[6691918 rows x 12 columns]

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
data = pd.get_dummies(data, dtype=float)

In [ ]:
data.shape

In [ ]:
# Split our preprocessed data into our features and target arrays
y = data.Arrest.values
X = data.drop('Arrest', axis=1).values

In [ ]:
# Split the preprocessed data into a training and
# testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state= 42)