<a href="https://colab.research.google.com/github/Karla-Flores/Project-04/blob/main/Chicago_Crime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **Preprocessing**

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
# from sklearn.linear_model import SGDClassifier
# import tensorflow as tf
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data = pd.read_csv('../Resources/chicago_crime_db.csv')
data.head()

,Date,Primary Type,Arrest,Domestic,Year,Latitude,Longitude,new_date,hour,month,Location Description
0,09/05/2015 01:30:00 PM,BATTERY,False,True,2015,41.815117,-87.670000,2015-09-05 13:30:00,13,9,RESIDENCE
1,09/04/2015 11:30:00 AM,THEFT,False,False,2015,41.895080,-87.765400,2015-09-04 11:30:00,11,9,CTA
2,09/05/2015 12:45:00 PM,NARCOTICS,True,False,2015,41.937406,-87.716650,2015-09-05 12:45:00,12,9,PUBLIC OPEN SPACE
3,09/05/2015 01:00:00 PM,ASSAULT,False,True,2015,41.881903,-87.755121,2015-09-05 13:00:00,13,9,RESIDENCE
4,09/05/2015 10:55:00 AM,BURGLARY,False,False,2015,41.744379,-87.658431,2015-09-05 10:55:00,10,9,RESIDENCE

In [3]:
# Convert categorical data to numeric with `pd.get_dummies`
data = pd.get_dummies(data, columns = ['Location Description', 'Primary Type'],dtype=float)
data.head()

,Date,Arrest,Domestic,Year,Latitude,Longitude,new_date,hour,month,Location Description_AIRPORT,...,Primary Type_OFFENSE INVOLVING CHILDREN,Primary Type_OTHER,Primary Type_OTHER OFFENSE,Primary Type_PROSTITUTION,Primary Type_PUBLIC PEACE VIOLATION,Primary Type_ROBBERY,Primary Type_SEX OFFENSE,Primary Type_STALKING,Primary Type_THEFT,Primary Type_WEAPONS VIOLATION
0,09/05/2015 01:30:00 PM,False,True,2015,41.815117,-87.670000,2015-09-05 13:30:00,13,9,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,09/04/2015 11:30:00 AM,False,False,2015,41.895080,-87.765400,2015-09-04 11:30:00,11,9,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,09/05/2015 12:45:00 PM,True,False,2015,41.937406,-87.716650,2015-09-05 12:45:00,12,9,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,09/05/2015 01:00:00 PM,False,True,2015,41.881903,-87.755121,2015-09-05 13:00:00,13,9,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,09/05/2015 10:55:00 AM,False,False,2015,41.744379,-87.658431,2015-09-05 10:55:00,10,9,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# Split our preprocessed data into our features and target arrays
y = data.Arrest
X = data.drop('Arrest', axis=1)

In [5]:
# Standardizing dataset so columns that contain larger values do not unduly influence the outcome
X_scaled = StandardScaler().fit_transform(X)
X_scaled

ValueError: could not convert string to float: '09/05/2015 01:30:00 PM'

In [ ]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X_scaled,y,random_state= 42)

# Logistic Regression

In [ ]:
# Train the Logistic Regression model on the scaled data and print the model score
classifier=LogisticRegression().fit(X_scaled, y)
classifier

In [ ]:
print(f'Training Score: {classifier.score(X_scaled, y)}')
print(f'Testing Score: {classifier.score(X_test, y_test)}')

In [ ]:
# Classification Report
y_true = y_test
y_pred = classifier.predict(X_test)
print(classification_report(y_true, y_pred))