<a href="https://colab.research.google.com/github/Karla-Flores/Project-04/blob/main/Chicago_Crime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **Preprocessing**

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE
from sklearn.cluster import KMeans
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
# import tensorflow as tf
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data = pd.read_csv('../Resources/chicago_crime_db.csv')
data.head()

,Primary Type,Arrest,Domestic,Ward,Year,Latitude,Longitude,Zip Codes,Location Description,Month,Hour
0,BATTERY,False,True,12.0,2015,41.815117,-87.670000,14924.0,RESIDENCE,9,5
1,THEFT,False,False,29.0,2015,41.895080,-87.765400,4299.0,CTA,9,4
2,NARCOTICS,True,False,35.0,2015,41.937406,-87.716650,21538.0,PUBLIC OPEN SPACE,9,5
3,ASSAULT,False,True,28.0,2015,41.881903,-87.755121,22216.0,RESIDENCE,9,5
4,BURGLARY,False,False,21.0,2015,41.744379,-87.658431,21554.0,RESIDENCE,9,5

In [3]:
data.drop('Description',axis=1, inplace = True)

KeyError: "['Description'] not found in axis"

In [7]:
data.head(10)

,Arrest,Domestic,Ward,Year,Latitude,Longitude,Zip Codes,Month,Hour,Location Description_AIRPORT,...,Primary Type_OFFENSE INVOLVING CHILDREN,Primary Type_OTHER,Primary Type_OTHER OFFENSE,Primary Type_PROSTITUTION,Primary Type_PUBLIC PEACE VIOLATION,Primary Type_ROBBERY,Primary Type_SEX OFFENSE,Primary Type_STALKING,Primary Type_THEFT,Primary Type_WEAPONS VIOLATION
0,False,True,12.0,2015,41.815117,-87.670000,14924.0,9,5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,False,False,29.0,2015,41.895080,-87.765400,4299.0,9,4,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,True,False,35.0,2015,41.937406,-87.716650,21538.0,9,5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,False,True,28.0,2015,41.881903,-87.755121,22216.0,9,5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,False,False,21.0,2015,41.744379,-87.658431,21554.0,9,5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,False,False,32.0,2015,41.914636,-87.681631,22535.0,9,4,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,True,False,25.0,2015,41.851989,-87.689219,14920.0,9,5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7,False,True,27.0,2015,41.882814,-87.704326,21184.0,9,5,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8,False,False,13.0,2015,41.763648,-87.722345,21867.0,9,5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9,False,False,45.0,2015,41.975968,-87.768014,21869.0,9,5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# Convert categorical data to numeric with `pd.get_dummies`
data = pd.get_dummies(data, columns = ['Location Description', 'Primary Type'],dtype=float)

In [40]:

d = [{'date': '12/25/2020'}]
df2 = pd.DataFrame(d)
df2['date'] = pd.to_datetime(df2['date'])
df2.date.iloc[0].month

12

In [42]:
data.Hour.unique()

array([ 5,  4,  3,  8,  2, 27,  1, 30, 25, 17, 31, 24,  7, 18, 29, 13,  6,
       21, 15, 26, 16, 11,  9, 28, 20, 10, 12, 23, 22, 19, 14],
      dtype=int64)

In [11]:
# Split our preprocessed data into our features and target arrays
y = data.Arrest
X = data.drop('Arrest', axis=1)

In [12]:
# Standardizing dataset so columns that contain larger values do not unduly influence the outcome
X_scaled = StandardScaler().fit_transform(X)
X_scaled

array([[ 2.49910053, -0.77300335,  0.90571992, ..., -0.02370103,
        -0.51659142, -0.11455799],
       [-0.40014397,  0.45683622,  0.90571992, ..., -0.02370103,
         1.9357658 , -0.11455799],
       [-0.40014397,  0.89089724,  0.90571992, ..., -0.02370103,
        -0.51659142, -0.11455799],
       ...,
       [ 2.49910053, -1.13472086,  2.00487679, ..., -0.02370103,
        -0.51659142, -0.11455799],
       [-0.40014397,  0.0227752 ,  2.00487679, ..., -0.02370103,
         1.9357658 , -0.11455799],
       [-0.40014397,  0.38449272,  2.00487679, ..., -0.02370103,
        -0.51659142, -0.11455799]])

In [13]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X_scaled,y,random_state= 42)

# Logistic Regression

In [19]:
# Train the Logistic Regression model on the scaled data and print the model score
classifier=LogisticRegression().fit(X_scaled, y)
classifier

LogisticRegression()

In [21]:
print(f'Training Score: {classifier.score(X_scaled, y)}')
print(f'Testing Score: {classifier.score(X_test, y_test)}')

Training Score: 0.8646689932542508
Testing Score: 0.8647580963310978

In [23]:
# Classification Report
y_true = y_test
y_pred = classifier.predict(X_test)
print(classification_report(y_true, y_pred))

              precision    recall  f1-score   support

       False       0.86      0.97      0.91   1227727
        True       0.89      0.56      0.69    445253

    accuracy                           0.86   1672980
   macro avg       0.87      0.77      0.80   1672980
weighted avg       0.87      0.86      0.85   1672980