In [8]:
# Dependencies and set up
import pandas as pd
import numpy as np

In [9]:
# Reading csv
table = pd.read_csv('../Resources/Crimes_-_2001_to_Present.csv')
table.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Districts,Police Beats
0,10224738,HY411648,09/05/2015 01:30:00 PM,043XX S WOOD ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,...,-87.670000,"(41.815117282, -87.669999562)",29.0,14924.0,59.0,706.0,3.0,37.0,23.0,108.0
1,10224739,HY411615,09/04/2015 11:30:00 AM,008XX N CENTRAL AVE,0870,THEFT,POCKET-PICKING,CTA BUS,False,False,...,-87.765400,"(41.895080471, -87.765400451)",4.0,4299.0,26.0,562.0,45.0,5.0,25.0,67.0
2,11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10224740,HY411595,09/05/2015 12:45:00 PM,035XX W BARRY AVE,2023,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,...,-87.716650,"(41.937405765, -87.716649687)",15.0,21538.0,22.0,216.0,12.0,39.0,7.0,168.0
4,10224741,HY411610,09/05/2015 01:00:00 PM,0000X N LARAMIE AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,True,...,-87.755121,"(41.881903443, -87.755121152)",11.0,22216.0,26.0,696.0,23.0,32.0,25.0,81.0

In [10]:
table.shape

(7406836, 30)

In [11]:
# x =table.Date.iloc[0]
# x[6:9]='1971'
# x

In [12]:
# Dropping NA
table.dropna(inplace=True)
table.shape

(6691918, 30)

In [13]:
# Primary type value counts
table.value_counts(subset=['Primary Type'])

Primary Type
THEFT                                1409659
BATTERY                              1231387
CRIMINAL DAMAGE                       766658
NARCOTICS                             661110
ASSAULT                               431339
OTHER OFFENSE                         415997
BURGLARY                              376957
MOTOR VEHICLE THEFT                   304759
DECEPTIVE PRACTICE                    278961
ROBBERY                               252541
CRIMINAL TRESPASS                     188674
WEAPONS VIOLATION                      86684
PROSTITUTION                           60816
PUBLIC PEACE VIOLATION                 47428
OFFENSE INVOLVING CHILDREN             46281
SEX OFFENSE                            24407
CRIM SEXUAL ASSAULT                    24216
INTERFERENCE WITH PUBLIC OFFICER       17113
GAMBLING                               13369
LIQUOR LAW VIOLATION                   12421
ARSON                                  11132
HOMICIDE                               11021
KIDNAPPING                              5820
INTIMIDATION                            3955
STALKING                                3757
CRIMINAL SEXUAL ASSAULT                 3376
CONCEALED CARRY LICENSE VIOLATION        794
OBSCENITY                                689
PUBLIC INDECENCY                         174
NON-CRIMINAL                             164
OTHER NARCOTIC VIOLATION                 128
HUMAN TRAFFICKING                         69
NON - CRIMINAL                            38
RITUALISM                                 15
NON-CRIMINAL (SUBJECT SPECIFIED)           9
dtype: int64

In [14]:
# Date format
table.dates = pd.to_datetime(table.Date)
# table.IUCR.dtypes

<ipython-input-14-c9f3112e7f9c>:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  table.dates = pd.to_datetime(table.Date)

In [15]:
# Adding table.dates to new column 'new_date'
table['new_date'] = table.dates
table.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Districts,Police Beats,new_date
0,10224738,HY411648,09/05/2015 01:30:00 PM,043XX S WOOD ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,...,"(41.815117282, -87.669999562)",29.0,14924.0,59.0,706.0,3.0,37.0,23.0,108.0,2015-09-05 13:30:00
1,10224739,HY411615,09/04/2015 11:30:00 AM,008XX N CENTRAL AVE,0870,THEFT,POCKET-PICKING,CTA BUS,False,False,...,"(41.895080471, -87.765400451)",4.0,4299.0,26.0,562.0,45.0,5.0,25.0,67.0,2015-09-04 11:30:00
3,10224740,HY411595,09/05/2015 12:45:00 PM,035XX W BARRY AVE,2023,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,...,"(41.937405765, -87.716649687)",15.0,21538.0,22.0,216.0,12.0,39.0,7.0,168.0,2015-09-05 12:45:00
4,10224741,HY411610,09/05/2015 01:00:00 PM,0000X N LARAMIE AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,True,...,"(41.881903443, -87.755121152)",11.0,22216.0,26.0,696.0,23.0,32.0,25.0,81.0,2015-09-05 13:00:00
5,10224742,HY411435,09/05/2015 10:55:00 AM,082XX S LOOMIS BLVD,0610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,False,False,...,"(41.744378879, -87.658430635)",18.0,21554.0,70.0,575.0,13.0,59.0,20.0,237.0,2015-09-05 10:55:00

In [16]:
# Adding 'Hour' column on Timestamp format
table['hour'] = table.new_date.apply(lambda x:x.hour)
table.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Districts,Police Beats,new_date,hour
0,10224738,HY411648,09/05/2015 01:30:00 PM,043XX S WOOD ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,...,29.0,14924.0,59.0,706.0,3.0,37.0,23.0,108.0,2015-09-05 13:30:00,13
1,10224739,HY411615,09/04/2015 11:30:00 AM,008XX N CENTRAL AVE,0870,THEFT,POCKET-PICKING,CTA BUS,False,False,...,4.0,4299.0,26.0,562.0,45.0,5.0,25.0,67.0,2015-09-04 11:30:00,11
3,10224740,HY411595,09/05/2015 12:45:00 PM,035XX W BARRY AVE,2023,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,...,15.0,21538.0,22.0,216.0,12.0,39.0,7.0,168.0,2015-09-05 12:45:00,12
4,10224741,HY411610,09/05/2015 01:00:00 PM,0000X N LARAMIE AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,True,...,11.0,22216.0,26.0,696.0,23.0,32.0,25.0,81.0,2015-09-05 13:00:00,13
5,10224742,HY411435,09/05/2015 10:55:00 AM,082XX S LOOMIS BLVD,0610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,False,False,...,18.0,21554.0,70.0,575.0,13.0,59.0,20.0,237.0,2015-09-05 10:55:00,10

In [17]:
# Adding 'month' column on Timestamp format
table['month'] = table.new_date.apply(lambda x:x.month)
table.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Districts,Police Beats,new_date,hour,month
0,10224738,HY411648,09/05/2015 01:30:00 PM,043XX S WOOD ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,...,14924.0,59.0,706.0,3.0,37.0,23.0,108.0,2015-09-05 13:30:00,13,9
1,10224739,HY411615,09/04/2015 11:30:00 AM,008XX N CENTRAL AVE,0870,THEFT,POCKET-PICKING,CTA BUS,False,False,...,4299.0,26.0,562.0,45.0,5.0,25.0,67.0,2015-09-04 11:30:00,11,9
3,10224740,HY411595,09/05/2015 12:45:00 PM,035XX W BARRY AVE,2023,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,...,21538.0,22.0,216.0,12.0,39.0,7.0,168.0,2015-09-05 12:45:00,12,9
4,10224741,HY411610,09/05/2015 01:00:00 PM,0000X N LARAMIE AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,True,...,22216.0,26.0,696.0,23.0,32.0,25.0,81.0,2015-09-05 13:00:00,13,9
5,10224742,HY411435,09/05/2015 10:55:00 AM,082XX S LOOMIS BLVD,0610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,False,False,...,21554.0,70.0,575.0,13.0,59.0,20.0,237.0,2015-09-05 10:55:00,10,9

In [18]:
# table['new_date_year'] = table.new_date.apply(lambda x:x.replace(year=2015))
# table.head()

In [19]:
# 130 * 12 * 3750000

In [20]:
# Correlation table
table.corr()

,ID,Arrest,Domestic,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,...,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Districts,Police Beats,hour,month
ID,1.000000,-0.080660,0.063175,-0.036981,-0.005272,0.019625,-0.008715,0.005119,0.001967,0.984794,...,0.007630,-0.005423,0.007477,-0.001100,0.011975,0.012100,0.005892,-0.004990,-0.009471,-0.005659
Arrest,-0.080660,1.000000,-0.067754,-0.017950,-0.018469,-0.017733,-0.001815,-0.034879,-0.002852,-0.083474,...,-0.007390,0.004018,-0.029244,0.006898,-0.017023,0.003163,0.063988,-0.008469,0.080780,-0.018771
Domestic,0.063175,-0.067754,1.000000,-0.045718,-0.042368,-0.054180,0.077620,0.007762,-0.084864,0.065913,...,0.001177,0.034710,0.021155,0.002103,-0.020217,0.014616,0.034206,0.075369,-0.032381,-0.012049
Beat,-0.036981,-0.017950,-0.045718,1.000000,0.948398,0.640325,-0.502106,-0.511666,0.637214,-0.039003,...,-0.114923,-0.105080,-0.184266,0.015583,0.081741,-0.338063,-0.611556,-0.403303,-0.007775,0.004201
District,-0.005272,-0.018469,-0.042368,0.948398,1.000000,0.685995,-0.496258,-0.560822,0.644615,-0.006792,...,-0.081252,-0.093528,-0.127174,0.021289,0.097387,-0.337767,-0.657707,-0.386227,-0.007758,0.003643
Ward,0.019625,-0.017733,-0.054180,0.640325,0.685995,1.000000,-0.530084,-0.462714,0.651638,0.018765,...,-0.040253,-0.128380,-0.136447,0.062043,0.048087,-0.204784,-0.502068,-0.526979,-0.004488,0.003623
Community Area,-0.008715,-0.001815,0.077620,-0.502106,-0.496258,-0.530084,1.000000,0.266048,-0.778436,-0.008899,...,0.086221,0.100421,0.699476,0.065356,-0.205597,0.209464,0.307198,0.617142,0.002884,-0.004951
X Coordinate,0.005119,-0.034879,0.007762,-0.511666,-0.560822,-0.462714,0.266048,1.000000,-0.559054,0.006541,...,0.115919,0.049289,0.167074,-0.082466,0.089319,0.133550,0.277871,0.414663,-0.001932,0.001145
Y Coordinate,0.001967,-0.002852,-0.084864,0.637214,0.644615,0.651638,-0.778436,-0.559054,1.000000,0.001441,...,-0.114564,-0.166481,-0.489263,-0.026149,0.043440,-0.232585,-0.387959,-0.780103,-0.005057,0.004485
Year,0.984794,-0.083474,0.065913,-0.039003,-0.006792,0.018765,-0.008899,0.006541,0.001441,1.000000,...,0.007449,-0.005778,0.006415,-0.001492,0.011799,0.012799,0.007551,-0.005099,-0.009863,-0.056614
Latitude,0.001940,-0.002704,-0.084710,0.637832,0.645412,0.652025,-0.777767,-0.561725,0.999995,0.001410,...,-0.114798,-0.166311,-0.488818,-0.025785,0.042949,-0.232583,-0.388216,-0.780015,-0.005037,0.004471
Longitude,0.005189,-0.035193,0.006484,-0.506246,-0.555719,-0.456668,0.256495,0.999919,-0.548481,0.006616,...,0.115074,0.047023,0.161265,-0.083587,0.090380,0.131235,0.274391,0.406205,-0.002023,0.001227
Historical Wards 2003-2015,0.007630,-0.007390,0.001177,-0.114923,-0.081252,-0.040253,0.086221,0.115919,-0.114564,0.007449,...,1.000000,0.059942,0.172590,-0.005070,-0.066029,0.118436,-0.003032,0.115737,0.000031,0.000790
Zip Codes,-0.005423,0.004018,0.034710,-0.105080,-0.093528,-0.128380,0.100421,0.049289,-0.166481,-0.005778,...,0.059942,1.000000,0.036659,-0.023878,-0.097716,0.076859,-0.017117,0.229909,0.007823,-0.002988
Community Areas,0.007477,-0.029244,0.021155,-0.184266,-0.127174,-0.136447,0.699476,0.167074,-0.489263,0.006415,...,0.172590,0.036659,1.000000,0.159179,-0.044575,0.125335,0.006919,0.414822,-0.008934,-0.000412
Census Tracts,-0.001100,0.006898,0.002103,0.015583,0.021289,0.062043,0.065356,-0.082466,-0.026149,-0.001492,...,-0.005070,-0.023878,0.159179,1.000000,0.012223,0.012261,0.042523,-0.081455,-0.004949,0.001202
Wards,0.011975,-0.017023,-0.020217,0.081741,0.097387,0.048087,-0.205597,0.089319,0.043440,0.011799,...,-0.066029,-0.097716,-0.044575,0.012223,1.000000,-0.197812,-0.194094,-0.029081,-0.004312,0.001981
Boundaries - ZIP Codes,0.012100,0.003163,0.014616,-0.338063,-0.337767,-0.204784,0.209464,0.133550,-0.232585,0.012799,...,0.118436,0.076859,0.125335,0.012261,-0.197812,1.000000,0.359291,0.141185,-0.006615,-0.002754
Police Districts,0.005892,0.063988,0.034206,-0.611556,-0.657707,-0.502068,0.307198,0.277871,-0.387959,0.007551,...,-0.003032,-0.017117,0.006919,0.042523,-0.194094,0.359291,1.000000,0.160126,0.009942,-0.004060
Police Beats,-0.004990,-0.008469,0.075369,-0.403303,-0.386227,-0.526979,0.617142,0.414663,-0.780103,-0.005099,...,0.115737,0.229909,0.414822,-0.081455,-0.029081,0.141185,0.160126,1.000000,0.001146,-0.003300
hour,-0.009471,0.080780,-0.032381,-0.007775,-0.007758,-0.004488,0.002884,-0.001932,-0.005057,-0.009863,...,0.000031,0.007823,-0.008934,-0.004949,-0.004312,-0.006615,0.009942,0.001146,1.000000,0.001554
month,-0.005659,-0.018771,-0.012049,0.004201,0.003643,0.003623,-0.004951,0.001145,0.004485,-0.056614,...,0.000790,-0.002988,-0.000412,0.001202,0.001981,-0.002754,-0.004060,-0.003300,0.001554,1.000000

In [21]:
# table.plot(kind='line',x='new_date', y='Community Areas')

In [22]:
# Replacing primary types
table.loc[table['Primary Type'] == 'OBSCENITY', 'Primary Type'] = 'OTHER'
table.loc[table['Primary Type'] == 'PUBLIC INDECENCY', 'Primary Type'] = 'OTHER'
table.loc[table['Primary Type'] == 'NON-CRIMINAL', 'Primary Type'] = 'OTHER'
table.loc[table['Primary Type'] == 'OTHER NARCOTIC VIOLATION', 'Primary Type'] = 'OTHER'
table.loc[table['Primary Type'] == 'HUMAN TRAFFICKING', 'Primary Type'] = 'OTHER'
table.loc[table['Primary Type'] == 'NON - CRIMINAL', 'Primary Type'] = 'OTHER'
table.loc[table['Primary Type'] == 'RITUALISM', 'Primary Type'] = 'OTHER'
table.loc[table['Primary Type'] == 'NON-CRIMINAL (SUBJECT SPECIFIED)', 'Primary Type'] = 'OTHER'
table.loc[table['Primary Type'] == 'DOMESTIC VIOLENCE', 'Primary Type'] = 'OTHER'
table.loc[table['Primary Type'] == 'CONCEALED CARRY LICENSE VIOLATION', 'Primary Type'] = 'OTHER'

In [23]:
# Primary type value counts
table.value_counts(subset=['Primary Type'])

Primary Type
THEFT                               1409659
BATTERY                             1231387
CRIMINAL DAMAGE                      766658
NARCOTICS                            661110
ASSAULT                              431339
OTHER OFFENSE                        415997
BURGLARY                             376957
MOTOR VEHICLE THEFT                  304759
DECEPTIVE PRACTICE                   278961
ROBBERY                              252541
CRIMINAL TRESPASS                    188674
WEAPONS VIOLATION                     86684
PROSTITUTION                          60816
PUBLIC PEACE VIOLATION                47428
OFFENSE INVOLVING CHILDREN            46281
SEX OFFENSE                           24407
CRIM SEXUAL ASSAULT                   24216
INTERFERENCE WITH PUBLIC OFFICER      17113
GAMBLING                              13369
LIQUOR LAW VIOLATION                  12421
ARSON                                 11132
HOMICIDE                              11021
KIDNAPPING                             5820
INTIMIDATION                           3955
STALKING                               3757
CRIMINAL SEXUAL ASSAULT                3376
OTHER                                  2080
dtype: int64

In [24]:
# Columns
list(table.columns)

['ID',
 'Case Number',
 'Date',
 'Block',
 'IUCR',
 'Primary Type',
 'Description',
 'Location Description',
 'Arrest',
 'Domestic',
 'Beat',
 'District',
 'Ward',
 'Community Area',
 'FBI Code',
 'X Coordinate',
 'Y Coordinate',
 'Year',
 'Updated On',
 'Latitude',
 'Longitude',
 'Location',
 'Historical Wards 2003-2015',
 'Zip Codes',
 'Community Areas',
 'Census Tracts',
 'Wards',
 'Boundaries - ZIP Codes',
 'Police Districts',
 'Police Beats',
 'new_date',
 'hour',
 'month']

In [25]:
# Dropping columns
table.drop(['ID', 'Case Number', 'Block', 'IUCR', 'Description', 'Beat', 'Wards', 'Ward', 'Zip Codes', 'District', 'Community Area', 'FBI Code', 'X Coordinate', 'Y Coordinate', 'Updated On', 'Location', 'Historical Wards 2003-2015','Community Areas', 'Census Tracts', 'Boundaries - ZIP Codes', 'Police Districts', 'Police Beats'], axis = 1, inplace = True)
list(table.columns)

['Date',
 'Primary Type',
 'Location Description',
 'Arrest',
 'Domestic',
 'Year',
 'Latitude',
 'Longitude',
 'new_date',
 'hour',
 'month']

In [26]:
# Identifying 'Location Description'
df = table.drop_duplicates(subset = 'Location Description', keep = 'first')
df = df['Location Description']
df

0                                  RESIDENCE
1                                    CTA BUS
3                                   SIDEWALK
4                                  APARTMENT
6                           RESIDENCE-GARAGE
                         ...
3225103                         BANQUET HALL
5349596                         LOADING DOCK
6823433                   CTA SUBWAY STATION
6888299                    BOAT / WATERCRAFT
7033250    VEHICLE - COMMERCIAL: TROLLEY BUS
Name: Location Description, Length: 214, dtype: object

In [27]:
# Adding the column 'LD'
table['LD']= ''

In [28]:
# Modifiying 'Location Description' from 214 to 13 variables

In [29]:
table.loc[table['Location Description'] == 'AIRPORT BUILDING NON-TERMINAL - NON-SECURE AREA', 'LD'] = 'AIRPORT'
table.loc[table['Location Description'] == 'AIRPORT BUILDING NON-TERMINAL - SECURE AREA', 'LD'] = 'AIRPORT'
table.loc[table['Location Description'] == 'AIRPORT EXTERIOR - NON-SECURE AREA', 'LD'] = 'AIRPORT'
table.loc[table['Location Description'] == 'AIRPORT EXTERIOR - SECURE AREA', 'LD'] = 'AIRPORT'
table.loc[table['Location Description'] == 'AIRPORT TERMINAL LOWER LEVEL - NON-SECURE AREA', 'LD'] = 'AIRPORT'
table.loc[table['Location Description'] == 'AIRPORT TERMINAL LOWER LEVEL - SECURE AREA', 'LD'] = 'AIRPORT'
table.loc[table['Location Description'] == 'AIRPORT TERMINAL MEZZANINE - NON-SECURE AREA', 'LD'] = 'AIRPORT'
table.loc[table['Location Description'] == 'AIRPORT TERMINAL UPPER LEVEL - NON-SECURE AREA', 'LD'] = 'AIRPORT'
table.loc[table['Location Description'] == 'AIRPORT TERMINAL UPPER LEVEL - SECURE AREA', 'LD'] = 'AIRPORT'
table.loc[table['Location Description'] == 'AIRPORT TRANSPORTATION SYSTEM (ATS)', 'LD'] = 'AIRPORT'
table.loc[table['Location Description'] == 'AIRPORT VENDING ESTABLISHMENT', 'LD'] = 'AIRPORT'
table.loc[table['Location Description'] == 'AIRPORT/AIRCRAFT', 'LD'] = 'AIRPORT'
table.loc[table['Location Description'] == 'AIRCRAFT', 'LD'] = 'AIRPORT'

In [30]:
table.loc[table['Location Description'] == 'CHURCH', 'LD'] = 'CHURCH'
table.loc[table['Location Description'] == 'CHURCH / SYNAGOGUE / PLACE OF WORSHIP', 'LD'] = 'CHURCH'
table.loc[table['Location Description'] == 'CHURCH PROPERTY', 'LD'] = 'CHURCH'
table.loc[table['Location Description'] == 'CHURCH/SYNAGOGUE/PLACE OF WORSHIP', 'LD'] = 'CHURCH'

In [31]:
table.loc[table['Location Description'] == 'APPLIANCE STORE', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'ATHLETIC CLUB', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'BANK', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'BANQUET HALL', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'BARBER SHOP/BEAUTY SALON', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'BARBERSHOP', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'BOWLING ALLEY', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'CLEANERS/LAUNDROMAT', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'CLEANING STORE', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'CLUB', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'COIN OPERATED MACHINE', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'COMMERCIAL / BUSINESS OFFICE', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'CONVENIENCE STORE', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'CREDIT UNION', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'CURRENCY EXCHANGE', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'DEPARTMENT STORE', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'DRUG STORE', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'FACTORY', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'FACTORY / MANUFACTURING BUILDING', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'FACTORY/MANUFACTURING BUILDING', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'FARM', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'FUNERAL PARLOR', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'GARAGE/AUTO REPAIR', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'GAS STATION', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'GAS STATION DRIVE/PROP.', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'GROCERY FOOD STORE', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'HALLWAY', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'HORSE STABLE', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'KENNEL', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'LAUNDRY ROOM', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'LIQUOR STORE', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'MOTEL', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'OFFICE', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'PAWN SHOP', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'RESTAURANT', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'RETAIL STORE', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'SAVINGS AND LOAN', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'SMALL RETAIL STORE', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'TRUCKING TERMINAL', 'LD'] = 'COMMERCIAL BUILDING'
table.loc[table['Location Description'] == 'WAREHOUSE', 'LD'] = 'COMMERCIAL BUILDING'

In [32]:
table.loc[table['Location Description'] == 'CTA "L" PLATFORM', 'LD'] = 'CTA'
table.loc[table['Location Description'] == 'CTA "L" TRAIN', 'LD'] = 'CTA'
table.loc[table['Location Description'] == 'CTA BUS', 'LD'] = 'CTA'
table.loc[table['Location Description'] == 'CTA BUS STOP', 'LD'] = 'CTA'
table.loc[table['Location Description'] == 'CTA GARAGE / OTHER PROPERTY', 'LD'] = 'CTA'
table.loc[table['Location Description'] == 'CTA PLATFORM', 'LD'] = 'CTA'
table.loc[table['Location Description'] == 'CTA PROPERTY', 'LD'] = 'CTA'
table.loc[table['Location Description'] == 'CTA STATION','LD'] = 'CTA'
table.loc[table['Location Description'] == 'CTA SUBWAY STATION', 'LD'] = 'CTA'
table.loc[table['Location Description'] == 'CTA TRACKS - RIGHT OF WAY', 'LD'] = 'CTA'
table.loc[table['Location Description'] == 'CTA TRAIN', 'LD'] = 'CTA'
table.loc[table['Location Description'] == 'CTA PARKING LOT / GARAGE / OTHER PROPERTY', 'LD'] = 'CTA'

In [33]:
table.loc[table['Location Description'] == 'COLLEGE / UNIVERSITY - GROUNDS', 'LD'] = 'EDUCATIONAL BUILDING'
table.loc[table['Location Description'] == 'COLLEGE / UNIVERSITY - RESIDENCE HALL', 'LD'] = 'EDUCATIONAL BUILDING'
table.loc[table['Location Description'] == 'COLLEGE/UNIVERSITY GROUNDS', 'LD'] = 'EDUCATIONAL BUILDING'
table.loc[table['Location Description'] == 'COLLEGE/UNIVERSITY RESIDENCE HALL', 'LD'] = 'EDUCATIONAL BUILDING'
table.loc[table['Location Description'] == 'DAY CARE CENTER', 'LD'] = 'EDUCATIONAL BUILDING'
table.loc[table['Location Description'] == 'PUBLIC GRAMMAR SCHOOL', 'LD'] = 'EDUCATIONAL BUILDING'
table.loc[table['Location Description'] == 'PUBLIC HIGH SCHOOL', 'LD'] = 'EDUCATIONAL BUILDING'
table.loc[table['Location Description'] == 'SCHOOL - PRIVATE BUILDING', 'LD'] = 'EDUCATIONAL BUILDING'
table.loc[table['Location Description'] == 'SCHOOL - PRIVATE GROUNDS', 'LD'] = 'EDUCATIONAL BUILDING'
table.loc[table['Location Description'] == 'SCHOOL - PUBLIC BUILDING', 'LD'] = 'EDUCATIONAL BUILDING'
table.loc[table['Location Description'] == 'SCHOOL - PUBLIC GROUNDS', 'LD'] = 'EDUCATIONAL BUILDING'
table.loc[table['Location Description'] == 'SCHOOL YARD', 'LD'] = 'EDUCATIONAL BUILDING'
table.loc[table['Location Description'] == 'SCHOOL, PRIVATE, BUILDING', 'LD'] = 'EDUCATIONAL BUILDING'
table.loc[table['Location Description'] == 'SCHOOL, PRIVATE, GROUNDS', 'LD'] = 'EDUCATIONAL BUILDING'
table.loc[table['Location Description'] == 'SCHOOL, PUBLIC, BUILDING', 'LD'] = 'EDUCATIONAL BUILDING'
table.loc[table['Location Description'] == 'SCHOOL, PUBLIC, GROUNDS', 'LD'] = 'EDUCATIONAL BUILDING'

In [34]:
table.loc[table['Location Description'] == 'COUNTY JAIL', 'LD'] = 'FEDERAL PROPERTY'
table.loc[table['Location Description'] == 'FEDERAL BUILDING', 'LD'] = 'FEDERAL PROPERTY'
table.loc[table['Location Description'] == 'FIRE STATION', 'LD'] = 'FEDERAL PROPERTY'
table.loc[table['Location Description'] == 'FOREST PRESERVE', 'LD'] = 'FEDERAL PROPERTY'
table.loc[table['Location Description'] == 'GOVERNMENT BUILDING', 'LD'] = 'FEDERAL PROPERTY'
table.loc[table['Location Description'] == 'GOVERNMENT BUILDING / PROPERTY', 'LD'] = 'FEDERAL PROPERTY'
table.loc[table['Location Description'] == 'GOVERNMENT BUILDING/PROPERTY', 'LD'] = 'FEDERAL PROPERTY'
table.loc[table['Location Description'] == 'JAIL / LOCK-UP FACILITY', 'LD'] = 'FEDERAL PROPERTY'
table.loc[table['Location Description'] == 'PARK PROPERTY', 'LD'] = 'FEDERAL PROPERTY'
table.loc[table['Location Description'] == 'RAILROAD PROPERTY', 'LD'] = 'FEDERAL PROPERTY'

In [35]:
table.loc[table['Location Description'] == 'ANIMAL HOSPITAL', 'LD'] = 'HOSPITAL'
table.loc[table['Location Description'] == 'HOSPITAL', 'LD'] = 'HOSPITAL'
table.loc[table['Location Description'] == 'HOSPITAL BUILDING / GROUNDS', 'LD'] = 'HOSPITAL'
table.loc[table['Location Description'] == 'HOSPITAL BUILDING/GROUNDS', 'LD'] = 'HOSPITAL'
table.loc[table['Location Description'] == 'MEDICAL / DENTAL OFFICE', 'LD'] = 'HOSPITAL'
table.loc[table['Location Description'] == 'MEDICAL/DENTAL OFFICE', 'LD'] = 'HOSPITAL'
table.loc[table['Location Description'] == 'NURSING / RETIREMENT HOME', 'LD'] = 'HOSPITAL'
table.loc[table['Location Description'] == 'NURSING HOME', 'LD'] = 'HOSPITAL'
table.loc[table['Location Description'] == 'NURSING HOME/RETIREMENT HOME', 'LD'] = 'HOSPITAL'

In [36]:
table.loc[table['Location Description'] == 'HOTEL', 'LD'] = 'HOTEL'
table.loc[table['Location Description'] == 'HOTEL / MOTEL', 'LD'] = 'HOTEL'
table.loc[table['Location Description'] == 'HOTEL/MOTEL', 'LD'] = 'HOTEL'

In [37]:
table.loc[table['Location Description'] == 'OTHER', 'LD'] = 'OTHER'
table.loc[table['Location Description'] == 'OTHER (SPECIFY)', 'LD'] = 'OTHER'
table.loc[table['Location Description'] == 'OTHER RAILROAD PROP / TRAIN DEPOT', 'LD'] = 'OTHER'
table.loc[table['Location Description'] == 'OTHER RAILROAD PROPERTY / TRAIN DEPOT', 'LD'] = 'OTHER'
table.loc[table['Location Description'] == 'COACH HOUSE', 'LD'] = 'OTHER'
table.loc[table['Location Description'] == 'GANGWAY', 'LD'] = 'OTHER'
table.loc[table['Location Description'] == 'LIBRARY', 'LD'] = 'OTHER'

In [38]:
table.loc[table['Location Description'] == 'BAR OR TAVERN', 'LD'] = 'PUBLIC ENTERTAINMENT'
table.loc[table['Location Description'] == 'MOVIE HOUSE / THEATER', 'LD'] = 'PUBLIC ENTERTAINMENT'
table.loc[table['Location Description'] == 'MOVIE HOUSE/THEATER', 'LD'] = 'PUBLIC ENTERTAINMENT'
table.loc[table['Location Description'] == 'POOL ROOM', 'LD'] = 'PUBLIC ENTERTAINMENT'
table.loc[table['Location Description'] == 'POOLROOM', 'LD'] = 'PUBLIC ENTERTAINMENT'
table.loc[table['Location Description'] == 'SPORTS ARENA / STADIUM', 'LD'] = 'PUBLIC ENTERTAINMENT'
table.loc[table['Location Description'] == 'SPORTS ARENA/STADIUM', 'LD'] = 'PUBLIC ENTERTAINMENT'
table.loc[table['Location Description'] == 'TAVERN', 'LD'] = 'PUBLIC ENTERTAINMENT'
table.loc[table['Location Description'] == 'TAVERN / LIQUOR STORE', 'LD'] = 'PUBLIC ENTERTAINMENT'
table.loc[table['Location Description'] == 'TAVERN/LIQUOR STORE', 'LD'] = 'PUBLIC ENTERTAINMENT'
table.loc[table['Location Description'] == 'YMCA', 'LD'] = 'PUBLIC ENTERTAINMENT'

In [39]:
table.loc[table['Location Description'] == 'ABANDONED BUILDING', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'AIRPORT PARKING LOT', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'ALLEY', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'ATM (AUTOMATIC TELLER MACHINE)', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'BRIDGE', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'CAR WASH', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'CEMETARY', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'CONSTRUCTION SITE', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'DRIVEWAY', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'DUMPSTER', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'EXPRESSWAY EMBANKMENT', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'HIGHWAY / EXPRESSWAY', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'HIGHWAY/EXPRESSWAY', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'JUNK YARD/GARBAGE DUMP', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'LAGOON', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'LAKE', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'LAKEFRONT / WATERFRONT / RIVERBANK', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'LAKEFRONT/WATERFRONT/RIVERBANK', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'LIVERY AUTO', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'LIVERY STAND OFFICE', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'LOADING DOCK', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'NEWSSTAND', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'PARKING LOT', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'PARKING LOT / GARAGE (NON RESIDENTIAL)', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'PARKING LOT/GARAGE(NON.RESID.)', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'POLICE FACILITY / VEHICLE PARKING LOT', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'POLICE FACILITY/VEH PARKING LOT', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'PRAIRIE', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'RIVER', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'RIVER BANK', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'SEWER', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'SIDEWALK', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'STREET', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'VACANT LOT', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'VACANT LOT / LAND', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'VACANT LOT/LAND', 'LD'] = 'PUBLIC OPEN SPACE'
table.loc[table['Location Description'] == 'WOODED AREA', 'LD'] = 'PUBLIC OPEN SPACE'

In [40]:
table.loc[table['Location Description'] == 'CHA PARKING LOT', 'LD'] = 'RESIDENCE'
table.loc[table['Location Description'] == 'CHA PARKING LOT / GROUNDS', 'LD'] = 'RESIDENCE'
table.loc[table['Location Description'] == 'CHA PARKING LOT/GROUNDS', 'LD'] = 'RESIDENCE'
table.loc[table['Location Description'] == 'APARTMENT', 'LD'] = 'RESIDENCE'
table.loc[table['Location Description'] == 'BASEMENT', 'LD'] = 'RESIDENCE'
table.loc[table['Location Description'] == 'CHA APARTMENT', 'LD'] = 'RESIDENCE'
table.loc[table['Location Description'] == 'CHA BREEZEWAY', 'LD'] = 'RESIDENCE'
table.loc[table['Location Description'] == 'CHA ELEVATOR', 'LD'] = 'RESIDENCE'
table.loc[table['Location Description'] == 'CHA GROUNDS', 'LD'] = 'RESIDENCE'
table.loc[table['Location Description'] == 'CHA HALLWAY', 'LD'] = 'RESIDENCE'
table.loc[table['Location Description'] == 'CHA HALLWAY / STAIRWELL / ELEVATOR', 'LD'] = 'RESIDENCE'
table.loc[table['Location Description'] == 'CHA HALLWAY/STAIRWELL/ELEVATOR', 'LD'] = 'RESIDENCE'
table.loc[table['Location Description'] == 'CHA LOBBY', 'LD'] = 'RESIDENCE'
table.loc[table['Location Description'] == 'CHA PLAY LOT', 'LD'] = 'RESIDENCE'
table.loc[table['Location Description'] == 'CHA STAIRWELL', 'LD'] = 'RESIDENCE'
table.loc[table['Location Description'] == 'DRIVEWAY - RESIDENTIAL', 'LD'] = 'RESIDENCE'
table.loc[table['Location Description'] == 'ELEVATOR', 'LD'] = 'RESIDENCE'
table.loc[table['Location Description'] == 'GARAGE', 'LD'] = 'RESIDENCE'
table.loc[table['Location Description'] == 'HOUSE', 'LD'] = 'RESIDENCE'
table.loc[table['Location Description'] == 'PORCH', 'LD'] = 'RESIDENCE'
table.loc[table['Location Description'] == 'RESIDENCE', 'LD'] = 'RESIDENCE'
table.loc[table['Location Description'] == 'RESIDENCE - GARAGE', 'LD'] = 'RESIDENCE'
table.loc[table['Location Description'] == 'RESIDENCE - PORCH / HALLWAY', 'LD'] = 'RESIDENCE'
table.loc[table['Location Description'] == 'RESIDENCE - YARD (FRONT / BACK)', 'LD'] = 'RESIDENCE'
table.loc[table['Location Description'] == 'RESIDENCE PORCH/HALLWAY', 'LD'] = 'RESIDENCE'
table.loc[table['Location Description'] == 'RESIDENCE-GARAGE', 'LD'] = 'RESIDENCE'
table.loc[table['Location Description'] == 'RESIDENTIAL YARD (FRONT/BACK)', 'LD'] = 'RESIDENCE'
table.loc[table['Location Description'] == 'ROOMING HOUSE', 'LD'] = 'RESIDENCE'
table.loc[table['Location Description'] == 'STAIRWELL', 'LD'] = 'RESIDENCE'
table.loc[table['Location Description'] == 'VESTIBULE', 'LD'] = 'RESIDENCE'
table.loc[table['Location Description'] == 'YARD', 'LD'] = 'RESIDENCE'

In [41]:
table.loc[table['Location Description'] == 'AUTO', 'LD'] = 'VEHICLE'
table.loc[table['Location Description'] == 'AUTO / BOAT / RV DEALERSHIP', 'LD'] = 'VEHICLE'
table.loc[table['Location Description'] == 'BOAT / WATERCRAFT', 'LD'] = 'VEHICLE'
table.loc[table['Location Description'] == 'BOAT/WATERCRAFT', 'LD'] = 'VEHICLE'
table.loc[table['Location Description'] == 'DELIVERY TRUCK', 'LD'] = 'VEHICLE'
table.loc[table['Location Description'] == 'OTHER COMMERCIAL TRANSPORTATION', 'LD'] = 'VEHICLE'
table.loc[table['Location Description'] == 'TAXI CAB', 'LD'] = 'VEHICLE'
table.loc[table['Location Description'] == 'TAXICAB', 'LD'] = 'VEHICLE'
table.loc[table['Location Description'] == 'TRAILER', 'LD'] = 'VEHICLE'
table.loc[table['Location Description'] == 'TRUCK', 'LD'] = 'VEHICLE'
table.loc[table['Location Description'] == 'VEHICLE - COMMERCIAL', 'LD'] = 'VEHICLE'
table.loc[table['Location Description'] == 'VEHICLE - COMMERCIAL: ENTERTAINMENT / PARTY BUS', 'LD'] = 'VEHICLE'
table.loc[table['Location Description'] == 'VEHICLE - COMMERCIAL: TROLLEY BUS', 'LD'] = 'VEHICLE'
table.loc[table['Location Description'] == 'VEHICLE - DELIVERY TRUCK', 'LD'] = 'VEHICLE'
table.loc[table['Location Description'] == 'VEHICLE - OTHER RIDE SERVICE', 'LD'] = 'VEHICLE'
table.loc[table['Location Description'] == 'VEHICLE - OTHER RIDE SHARE SERVICE (E.G., UBER, LYFT)', 'LD'] = 'VEHICLE'
table.loc[table['Location Description'] == 'VEHICLE - OTHER RIDE SHARE SERVICE (LYFT, UBER, ETC.)', 'LD'] = 'VEHICLE'
table.loc[table['Location Description'] == 'VEHICLE NON-COMMERCIAL', 'LD'] = 'VEHICLE'
table.loc[table['Location Description'] == 'VEHICLE-COMMERCIAL', 'LD'] = 'VEHICLE'
table.loc[table['Location Description'] == 'VEHICLE-COMMERCIAL - ENTERTAINMENT/PARTY BUS', 'LD'] = 'VEHICLE'
table.loc[table['Location Description'] == 'VEHICLE-COMMERCIAL - TROLLEY BUS', 'LD'] = 'VEHICLE'

In [42]:
# Identifying 'LD'
df = table.drop_duplicates(subset = 'LD', keep = 'first')
df = df['LD']
df

0                 RESIDENCE
1                       CTA
3         PUBLIC OPEN SPACE
7       COMMERCIAL BUILDING
17                    OTHER
28                  VEHICLE
77         FEDERAL PROPERTY
87                 HOSPITAL
119                   HOTEL
178    PUBLIC ENTERTAINMENT
184                  CHURCH
700    EDUCATIONAL BUILDING
938                 AIRPORT
Name: LD, dtype: object

In [43]:
# Dropping 'Location Description' column
table.drop(['Location Description'], axis = 1, inplace = True)

In [44]:
# Renaming 'LD' as 'Location Description' column
table.rename(columns={'LD': 'Location Description',}, inplace=True, errors='raise')

In [46]:
table.head()

,Date,Primary Type,Arrest,Domestic,Year,Latitude,Longitude,new_date,hour,month,Location Description
0,09/05/2015 01:30:00 PM,BATTERY,False,True,2015,41.815117,-87.670000,2015-09-05 13:30:00,13,9,RESIDENCE
1,09/04/2015 11:30:00 AM,THEFT,False,False,2015,41.895080,-87.765400,2015-09-04 11:30:00,11,9,CTA
3,09/05/2015 12:45:00 PM,NARCOTICS,True,False,2015,41.937406,-87.716650,2015-09-05 12:45:00,12,9,PUBLIC OPEN SPACE
4,09/05/2015 01:00:00 PM,ASSAULT,False,True,2015,41.881903,-87.755121,2015-09-05 13:00:00,13,9,RESIDENCE
5,09/05/2015 10:55:00 AM,BURGLARY,False,False,2015,41.744379,-87.658431,2015-09-05 10:55:00,10,9,RESIDENCE

In [47]:
# Dropping 'Location Description' column
table_ = table.drop(['Date', 'Year'], axis = 1)
table_.head()

,Primary Type,Arrest,Domestic,Latitude,Longitude,new_date,hour,month,Location Description
0,BATTERY,False,True,41.815117,-87.670000,2015-09-05 13:30:00,13,9,RESIDENCE
1,THEFT,False,False,41.895080,-87.765400,2015-09-04 11:30:00,11,9,CTA
3,NARCOTICS,True,False,41.937406,-87.716650,2015-09-05 12:45:00,12,9,PUBLIC OPEN SPACE
4,ASSAULT,False,True,41.881903,-87.755121,2015-09-05 13:00:00,13,9,RESIDENCE
5,BURGLARY,False,False,41.744379,-87.658431,2015-09-05 10:55:00,10,9,RESIDENCE

In [49]:
# Outing as csv
# DF with original Date and Year columns
table.to_csv(r'../Resources/chicago_crime_db.csv', index = False)
# DF without original Date and Year columns
table_.to_csv(r'../Resources/chicago_crime_db_.csv', index = False)

In [ ]:
# Reading csv
# df = pd.read_csv('../Resources/Resources/chicago_crime_db_.csv')
# df.head()

In [ ]:
# Binning hours

In [ ]:
# Binning seasons